$red: #e7512c;
$red2: #ed6954;
$red3: #ee7e72;
$red4: #f7a599;
$red5: #f3d5ca;

$olive: #9db740;
$olive2: #bcc770;
$olive3: #d8da93;
$olive4: #e3e4b3;
$olive5: #e9e7cb;

$green: #499948;
$green2: #6dac6e;
$green3: #98ba8e;
$green4: #bacfb1;
$green5: #dae3d3;

$brown: #8c6e57;
$brown2: #9e836f;
$brown3: #b29b8a;
$brown4: #c7b7aa;
$brown5: #ece3de;

$dust: #93827d;
$dust2: #b5a5a0;
$dust3: #cbc1bb;
$dust4: #e0d8d3;
$dust5: #ece7e3;

$black: #191817;
$dark-gray: #716d69;
$mid-gray: #bbb6b4;
$light-gray: #e8e6e3;
$white: #f8f9f7;