@font-face {
    font-family: 'Blanch';
    src: url('fonts/blanch-webfont.eot');
    src: url('fonts/blanch-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/blanch-webfont.woff2') format('woff2'),
         url('fonts/blanch-webfont.woff') format('woff'),
         url('fonts/blanch-webfont.ttf') format('truetype'),
         url('fonts/blanch-webfont.svg#blanchcaps') format('svg');
    font-weight: normal;
    font-style: normal;
}
