green = #499948
green2 = #6dac6e
green3 = #98ba8e
green4 = #bacfb1
green5 = #dae3d3

dust = #93827d
dust2 = #b5a5a0
dust5 = #ece7e3

black = #191817
darkgray = #716d69
midgray = #bbb6b4
lightgray = #e8e6e3
white = #f8f9f7




html {
    background: dust5
}