green = #499948
green2 = #6dac6e

dust = #93827d
dust2 = #b5a5a0
dust5 = #ece7e3

black = #191817
darkgray = #716d69
midgray = #bbb6b4
lightgray = #e8e6e3
white = #f8f9f7


@font-face {
   font-family: Bree
   font-style: bold
   src: url('fonts/bree_bold.otf')
}

@font-face {
   font-family: Merriweather
   font-style: normal
   src: url('fonts/merriweather.ttf')
}

@font-face {
   font-family: Merriweather
   font-style: bold
   src: url('fonts/merriweather_bold.ttf')
}


html {
    background: white
    font-family: Merriweather
}